@import './variables.css';

html,
body {
  margin: 0;
  font-family: var(--core-sans-c);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary);
  color: var(--black);
}

.swiper-wrapper {
  width: 10px !important;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
