.root {
  font-family: var(--junegull);
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: var(--black);
  margin: 0;

  @media screen and (min-width: 720px) {
    font-size: 60px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 75px;
  }
}
